.s-hero {
  background: url(../assets/img/hero-image.png) no-repeat center center;
  background-size: cover;
  padding: 19.6rem 0 15.2rem;
  .content {
    h1 {
      max-width: 71rem;
      margin-bottom: 2.4rem;
      span {
        color: $gray-500;
        font-weight: 700;
      }
    }
    p {
      max-width: 53.5rem;
      color: $gray-500;
      margin-bottom: 4rem;
      opacity: 0.9;
    }
    .btns {
      @include flex-center;
      gap: 3.2rem;
    }
  }
}

.s-about {
  padding: 12.4rem 0;
  .container {
    .text {
      @include flexSpaceBetween;
    }
    .right {
      max-width: 59.2rem;
      h5 {
        margin-bottom: 2.4rem;
      }
      h2 {
        margin-bottom: 2.4rem;
      }
      p {
        opacity: 0.8;
        max-width: 50rem;
      }
      ul {
        @include flex-center;
        flex-wrap: wrap;
        gap: 1.4rem;
        margin: 3.2rem 0 4rem;
        li {
          @include flex-center;
          gap: 0.8rem;
        }
      }
    }
    .logos {
      @include flexSpaceBetween;
      padding-top: 13.1rem;
      img {
        filter: saturate(0);
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        &:hover {
          filter: saturate(100%);
          opacity: 1;
        }
      }
    }
  }
}

.s-solutions {
  padding-bottom: 10.1rem;
  .container {
    .top {
      text-align: center;
      h2 {
        margin: 2.4rem 0 5.2rem;
      }
    }
    .cards-solutions {
      @include flexSpaceBetween;
    }
  }
}
