.s-hero {
  background: url(../assets/img/hero-image.png) no-repeat center center;
  background-size: cover;
  padding: 19.6rem 0 15.2rem;
  .content {
    h1 {
      max-width: 71rem;
      margin-bottom: 2.4rem;
      span {
        color: $gray-500;
        font-weight: 700;
      }
    }
    p {
      max-width: 53.5rem;
      color: $gray-500;
      margin-bottom: 4rem;
      opacity: 0.9;
    }
    .btns {
      @include flex-center;
      gap: 3.2rem;
    }
  }
}

.s-about {
  padding: 12.4rem 0;
  .container {
    .text {
      @include flexSpaceBetween;
    }
    .right {
      max-width: 59.2rem;
      h5 {
        margin-bottom: 2.4rem;
      }
      h2 {
        margin-bottom: 2.4rem;
      }
      p {
        opacity: 0.8;
        max-width: 50rem;
      }
      ul {
        @include flex-center;
        flex-wrap: wrap;
        gap: 1.4rem;
        margin: 3.2rem 0 4rem;
        li {
          @include flex-center;
          gap: 0.8rem;
        }
      }
    }
    .logos {
      @include flexSpaceBetween;
      padding-top: 13.1rem;
      img {
        filter: saturate(0);
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        &:hover {
          filter: saturate(100%);
          opacity: 1;
        }
      }
    }
  }
}

.s-solutions {
  padding-bottom: 10.1rem;
  .container {
    .top {
      text-align: center;
      h2 {
        margin: 2.4rem 0 5.2rem;
      }
    }
    .cards-solutions {
      @include flexSpaceBetween;
    }
  }
}

.s-depoimentos {
  padding: 2.4rem 0 10.7rem;
  overflow: hidden;
  .container {
    position: relative;
    .top {
      @include flexSpaceBetween;
      .left {
        h2 {
          max-width: 38.4rem;
          margin: 3.2rem 0 5.6rem;
        }
      }
      .swiper-pagination {
        position: relative;
        max-width: 6.6rem;
      }
      .swiper-pagination-bullet {
        opacity: 0.4;
        width: 0.8rem;
        height: 0.8rem;
        background: $brand-green03;
        transition: all 0.3s ease;
        &-active {
          background: $brand-green01;
          opacity: 1;
          width: 1rem;
        }
      }
    }
    .btn {
      @include flexTotalCenter;
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      z-index: 2;
      background-color: rgb(69, 130, 0);
      border-radius: 100%;
      top: 31rem;
      transition: all 0.3s ease;
      opacity: 0;
      &:hover {
        background-color: $brand-green02;
      }
    }
    .btn-prev {
      transform: rotate(180deg);
      left: 0;
    }
    .btn-next {
      right: 0;
    }
    .swiper-button-disabled {
      display: none;
    }
    &:hover .btn {
      opacity: 1;
    }
  }
}

.s-numbers {
  background-color: $brand-green01;
  padding: 7.6rem 0;
  .container {
    @include flex(row, flex-start, space-evenly);
    .number {
      @include flex(column, center, center);
      gap: 1.6rem;
      .top {
        @include flex-center;
        gap: 0.8rem;
        h6 {
          color: $gray-500;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 130%;
        }
      }
      .bottom {
        p {
          color: $gray-500;
          opacity: 0.8;
          max-width: 17.7rem;
          text-align: center;
        }
      }
    }
  }
}

.s-projects {
  padding: 10rem 0 12.5rem;
  .top {
    text-align: center;
    h2 {
      margin: 2.4rem 0 6.9rem;
    }
  }
  .cards-projetos {
    @include flexSpaceBetween;
  }
}

.s-life {
  padding: 5.6rem 0 7.2rem;
  background: url(../assets/img/image-banner-footer.png) no-repeat center center;
  background-size: cover;
  .container {
    @include flexSpaceBetween;
    .text {
      h3 {
        max-width: 30.2rem;
        margin-bottom: 2.4rem;
      }
      p {
        max-width: 20.8rem;
        color: $gray-500;
      }
    }
  }
}
