h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
}

h1,
h3,
h4 {
  font-weight: 500;
}

h1 {
  color: $gray-500;
  font-size: 5.6rem;
}

h2 {
  background-image: $brand-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  color: $gray-500;
  font-size: 3.2rem;
}

h4 {
  color: $gray-800;
  font-size: 2.4rem;
}

h5 {
  color: $brand-yellow;
  font-size: 1.8rem;
  font-weight: 700;
}

p {
  color: $gray-800;
  font-size: 1.6rem;
  line-height: 150%;
}
