$brand-green01: #458200;
$brand-green02: #71b524;
$brand-green03: #98db4d;
$brand-gradient: linear-gradient(100deg, #458200 2.3%, #98db4d 96.93%);
$brand-yellow: #ffaf00;
$brand-yellow02: #ffc036;
$gray-900: #0a0b0d;
$gray-800: #393b42;
$gray-700: #787c87;
$gray-600: #c0c3cc;
$gray-500: #f5f6fa;
